<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur quas possimus, minus sunt hic. Possimus delectus aliquid sequi autem molestias soluta ipsa, perferendis a obcaecati laboriosam at aperiam debitis.</p>
  </body>
</html>
