<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
      <header>
          <nav>
              <a href="/">Home</a>
              <a href="/about">about Us</a>
          </nav>
      </header>
    <h1>About Us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae laborum placeat provident quo, necessitatibus ipsum ut vitae omnis labore, facere molestias repellendus accusantium, porro animi et ab unde ad vel.</p>
  </body>
</html>
