<%- include('./includes/header.ejs') %>
  <!-- Main Content -->
  <div class="error">
    <h5 style="text-align: center"><%= message %></h5>
  </div>
 <!--Footer Here  -->
<%- include('./includes/footer.ejs') %>