  <%- include('./includes/header.ejs') %>
      <div class="container vh">
        <div class="jumbotron jtron">
          <h1>STAT Statistics</h1>
          <p>We collect all information of our members and keep them secured, any plan will base on the available documents. 
             Though we have many members in WhatsApp groups but the STAT Database has <strong><%= total %></strong> members registered</p>
          <p>STAT administrator want all science teachers and engineers to kindly register to the system as the plan and decision will mostly be based on the current members on the database. So members of all STAT WhatsApp groups please register to the system by signing up to the link on the navigation bar.</p>
        </div>
      </div>
  <%- include('./includes/footer.ejs') %>
