  <%- include('./includes/header.ejs') %>
      <div class="container vh">
        <div class="jumbotron jtron">
          <h1>STAT Statistics</h1>
          <p>We collect all information of our members and keep them secured, any plan will base on the available documents. 
             Though we have many members in WhatsApp groups but the STAT Database has <span><%- total %></span></p>
          <p></p>
        </div>
      </div>
  <%- include('./includes/footer.ejs') %>
