<%- include('./includes/header.ejs') %>
  <div class="wrapper">
        <header>
            <nav>
                <ul class="navBar">
                    <li class="navBar__item"><a href="/">Home</a></li>
                    <li class="navBar__item"><a href="/profile">profile</a></li>
                    <li class="navBar__item"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <div class="user-page">
            <div class="user-page__picture">
                <a href="/edit">
                <img src="/images/profile/<%%>" alt="user profile picture">
                </a>
            </div>
            <div class="user-page__information">
                <h4>Name: <%%></h4>
            </div>
        </div>
    </div>
 <!--Footer Here  -->
<%- include('./includes/footer.ejs') %>
