<%- include('./includes/header.ejs') %>
<div class="container">
  <div class="jumbotron jtron">
    <h1>List Of Registered Members</h1>
    <ol>
      <% data.map(function(user) { %>
        <li><%= user.firstName %> <%= user.lastName %>
      <% })%>
    </ol>
  </div>
</div>
<%- include('./includes/footer.ejs') %>
