<%- include('./includes/header.ejs') %>
<div class="container">
  <div class="jumbotron jtron">
    <h1>Welcome</h1>
    <p>Una password?.. Acha haraka IT Uchwara analifanyia kazi..........</p>
    <p></p>
  </div>
</div>
<%- include('./includes/footer.ejs') %>
