<%- include('./includes/header.ejs') %>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 size" >
        <form action="/register" method="POST">
             <div class="form-group">
                 <label for="firstName">First Name</label>
                 <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
             </div>
              <div class="form-group">
                 <label for="lastName">Last Name</label>
                 <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
             </div>
             <div class="form-group">
                <label for="id">Idetification ID</label>
                <select class="form-control" id="id" name="identification">
                    <option selected disabled ">Select ID</option>
                    <option value="Kura">Voters</option>
                    <option value="Taifa">National</option>
                    <option value="Drive">Driving Lisence</option>
                    <option value="passport">Passport</option>
                 </select>
            </div>
            <div class="form-group">
                <label for="id-num">ID Number</label>
                <input name="idNumber" type="number" class="form-control" id="id-num" placeholder="ID Number" min = "0">
            </div>
             <h6>Subjects: Select all that applies to you.</h6>
             <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="maths" name="subjects" value="Mathematics">
                <label class="form-check-label" for="maths">Mathematics</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="phys" name="subjects" value="Physics">
                <label class="form-check-label" for="phys">Physics</label>
            </div>
            <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="chem" name="subjets" value="Chemistry">
                    <label class="form-check-label" for="chem">Chemistry</label>
                </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="bios" name="subjets" value="Biology">
                <label class="form-check-label" for="bios">Biology</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="ict" name="subjects" value="ICS">
                <label class="form-check-label" for="ict">ICS</label>
            </div>
             <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="agri" name="subjects" value="Agricultural Science">
                <label class="form-check-label" for="agri">Agricultural science</label>
            </div>
             <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="food" name="subjects" value="Food and Nutrition">
                <label class="form-check-label" for="food">Food and Nutrition</label>
            </div>
             <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="tech" name="subjects" value="Laboratory Technician">
                <label class="form-check-label" for="tech">Laboratory Technician</label>
            </div>
            <hr>
            <div class="form-group">
                <label for="district">Region</label>
                <select class="form-control" id="region" name="region">
                    <%- include('../contents/mikoa/mikoa.ejs') %>
                </select>
            </div>
            <div class="form-group">
                <label for="district">District</label>
                <select class="form-control" id="district" name="district">
                    <option selected disabled ">Select District</option>
                 </select>
            </div>
            <div class="form-group">
                 <label for="schoolName">School Name</label>
                 <input name="schoolName" type="text" class="form-control" id="schoolName"  placeholder="Enter School Name">
             </div>
             <div class="form-group">
                <label for="tel-num">Phone Number</label>
                <input name="phoneNumber" type="tel" class="form-control" id="tel-num" placeholder="ex. 0629593331">
            </div>
             <div class="form-group">
                 <label for="email">Email address</label>
                 <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
             </div>
             <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>
      </div>
 <!--Footer Here  -->
 <%- include('./includes/footer.ejs') %>