* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background: linear-gradient(45deg,rgb(107, 206, 219), rgb(156, 139, 216), rgb(90, 219, 241) );
}
.jtron {
    margin-top: 1.4em;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link.active {
    color: darkgrey;
}
.size{
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 1em;
    background-color: transparent;
    opacity: 1;
}
.first::first-letter{
    font-size: 2em;
}
.footer{
    color: #fff;
}
.error{
    padding: 1.5em;
    text-align: center;
}
input, select{
    opacity: 1;
}
.vh{
    height: 100vh;
}