* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.jtron {
    margin-top: 1.4em;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link.active {
    color: darkgrey;
}
.size{
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 1em;
    background-color: #ccc;
}
.first::first-letter{
    font-size: 2em;
}