* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg,rgb(107, 206, 219), rgb(156, 139, 216), rgb(90, 219, 241) );
}
.jtron {
    margin-top: 1.4em;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link.active {
    color: darkgrey;
}
.size{
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 1em;
    background-color: transparent;
    opacity: 1;
}
.first::first-letter{
    font-size: 2em;
}
.footer{
    color: #fff;
}
.error{
    padding: 1.5em;
    text-align: center;
}
input, select{
    opacity: 1;
}
.vh{
    height: 100vh;
}
.profile-wrapper {
    width: 100%;
    padding: 0.9rem;
}
.user-page {
    margin: 2rem auto;
    display: flex;
    width: 89%;
}
 .user-page__picture {
     width: 20%;
     margin-right: 7px;
}
.user-page__picture img{
    width: 100%;
    border-radius: 25%;
}
.user-page__information{
    width: 75%;
    background: #fff;
    padding: 2rem;
}


/* login form */
.form-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-form{
    width: 400px;
    margin: 0 auto;
}
.welcome-form input{
    width: 100%;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
}
.welcome-form input[type="submit"]{
    background: rgb(29, 22, 119);
    color: aliceblue;
    font-weight: bolder;
}
.welcome-form input[type="file"]{
    display: inline-block;
    width: 70%;
}
.welcome-form form{
    background: #ccc;
    padding: 2rem;
}
.welcome-form form > h4{
    border-bottom: 0.5rem;
    padding: 0.3rem;
    text-transform: capitalize;
    font-size: 2rem;
    color: blue;
}
.welcome-form form > p{
    padding: 0.3rem;
}
.welcome-form form > p a{
    text-decoration: none;
}
.user-page__information tr:nth-child(odd) {
    background: #ccc;
}
.user-page__information td {
    padding: 0.5rem;
}

@media screen and (max-width: 600px) {
    .user-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 2rem;
    }
    .user-page__picture{
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #333;
        width: 100%;
    }
    .user-page__information{
        width: 100%;
    }
    .user-page__picture img{
        width: 250px;
        border-radius: 50%;
    }
}


