<option selected disabled>Select Region</option>
<option value="Arusha">Arusha</option>
<option value="Dar es salaam">Dar es salaam</option>
<option value="Dodoma">Dodoma</option>
<option value="Geita">Geita</option>
<option value="Iringa">Iringa</option>
<option value="Kagera">Kagera</option>
<option value="Katavi">Katavi</option>
<option value="Kigoma">Kigoma</option>
<option value="Lindi">Lindi</option>
<option value="Mara">Mara</option>
<option value="Manyara">Manyara</option>
<option value="Morogoro">Morogoro</option>
<option value="Mbeya">Mbeya</option>
<option value="Mtwara">Mtwara</option>
<option value="Mwanza">Mwanza</option>
<option value="Mjini Magharibi">Mjini Magharibi</option>
<option value="Njombe">Njombe</option>
<option value="Pembe Kaskazini">Pembe Kaskazini</option>
<option value="Pemba Kusini">Pemba Kusini</option>
<option value="Pwani">Pwani</option>
<option value="Rukwa">Rukwa</option>
<option value="Ruvuma">Ruvuma</option>
<option value="Shinyanga">Shinyanga</option>
<option value="Singida">Singida</option>
<option value="Simiyu">Simiyu</option>
<option value="Songwe">Songwe</option>
<option value="Tabora">Tabora</option>
<option value="Tanga">Tanga</option>
<option value="Unguja Kaskazini">Unguja Kaskazini</option>
<option value="Unguja Kusini">Unguja Kusini</option>